In [13]:
import sys
sys.path.append('../src')

from data_preparation import DataLoader

In [9]:
dataloader = DataLoader(time_index_col= 'DATE', 
                        keep_cols = ['VOLUME','OPEN', 'CLOSE', 'LOW', 'TRANSACTIONS'])

In [10]:
dataloader.load_dataset({'GOLD':'../data/commodities/GLD_2020-04-07_2022-04-06.parquet',
                        'BITCOINS':'../data/cryptos/BTCUSD_2020-04-07_2022-04-06.parquet',
                        'TICKER':'../data/dataset/tradeData.xlsx'})

,GOLD_VOLUME,GOLD_OPEN,GOLD_CLOSE,GOLD_LOW,GOLD_TRANSACTIONS,BITCOINS_VOLUME,BITCOINS_OPEN,BITCOINS_CLOSE,BITCOINS_LOW,BITCOINS_TRANSACTIONS
DATE,,,,,,,,,,
2020-04-07 15:43:00,21071.0,155.880,155.9260,155.8600,152.0,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:44:00,23010.0,155.930,155.9000,155.9000,165.0,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:45:00,31544.0,155.920,155.7350,155.7200,292.0,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:46:00,42645.0,155.760,155.8400,155.7600,153.0,NaN,NaN,NaN,NaN,NaN
2020-04-07 15:47:00,3735.0,155.805,155.8100,155.7950,47.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2022-04-06 23:54:00,204.0,179.540,179.5399,179.5399,3.0,37.006803,43146.71,43144.08,43123.70,683.0
2022-04-06 23:55:00,NaN,NaN,NaN,NaN,NaN,65.685080,43144.08,43188.59,43138.37,1232.0
2022-04-06 23:56:00,NaN,NaN,NaN,NaN,NaN,25.763792,43188.44,43111.80,43111.80,797.0
2022-04-06 23:57:00,NaN,NaN,NaN,NaN,NaN,21.241159,43122.93,43149.90,43115.26,647.0
2022-04-06 23:58:00,NaN,NaN,NaN,NaN,NaN,120.336717,43146.69,43173.96,43144.81,826.0

In [11]:
dataloader.tablefreq

           GOLD_time                      BITCOINS_time               \
            GOLD_min  GOLD_max GOLD_count  BITCOINS_min BITCOINS_max
date
2020-04-07  15:43:00  23:37:00      298.0      17:48:00     23:59:00
2020-04-08  09:36:00  23:58:00      514.0      00:00:00     23:59:00
2020-04-09  08:00:00  23:58:00      591.0      00:00:00     23:59:00
2020-04-10       NaN       NaN        NaN      00:00:00     23:59:00
2020-04-11       NaN       NaN        NaN      00:00:00     23:59:00
...              ...       ...        ...           ...          ...
2022-04-02       NaN       NaN        NaN      00:00:00     23:59:00
2022-04-03       NaN       NaN        NaN      00:00:00     23:59:00
2022-04-04  08:01:00  23:59:00      513.0      00:00:00     23:59:00
2022-04-05  08:00:00  23:58:00      489.0      00:00:00     23:58:00
2022-04-06  08:03:00  23:54:00     1004.0      00:00:00     23:58:00


           BITCOINS_count
date
2020-04-07          372.0
2020-04-08         1440.0
2020-04-09         1440.0
2020-04-10         1440.0
2020-04-11         1440.0
...                   ...
2022-04-02         1440.0
2022-04-03         1440.0
2022-04-04         1440.0
2022-04-05         1439.0
2022-04-06         1439.0

[730 rows x 6 columns]